<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>My Courses</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/student/students}">All students</a>
    <a class="navbar-brand" th:href="@{/course/courses}">All Courses</a>
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-light" type="submit" value="Sign Out"/>
    </form>
</nav>
<div id="container">

    <div class="row">
        <div class="col">
    <h2>All courses:</h2>
    <div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Teacher</th>
                <th>Number of lessons</th>
                <th></th>
            </tr>
            <tr data-th-each="course : ${courses}">
                <td data-th-text="${course.title}"></td>
                <td data-th-text="${course.teacher}"></td>
                <td data-th-text="${course.numberOfLectures}">...</td>
                <td><a class="btn btn-light" th:href="@{/}">More</a>
                    <a class="btn btn-light" th:href="@{/course/delete-course/{id}(id=${course.id})}">Delete</a>
                    <a class="btn btn-light" th:href="@{/course/assign-course/{id}(id=${course.id})}">Assign to me</a>
                </td>
            </tr>
        </table>
    </div>
        </div>

        <div class="col">

            <form th:action="@{/course/search}" method="get">
                <input type="text" name="title" id="title" th:value="${title}"/>
                <input class="btn btn-light" type="submit" value="Search"/>
            </form>

        </div>
    </div>


    <a class="btn btn-light" th:href="@{/course/add-course}">Add Course</a>


</div>
</body>
</html>