<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                <form th:action="@{/login}" method="post" class="form-horizontal">
                    <div class="form-group"><label> User Name : <input class="form-control" type="text"
                                                                        name="username"/>
                    </label></div>
                    <div class="form-group"><label> Password: <input class="form-control" type="password"
                                                                     name="password"/>
                    </label></div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me"/>
                        <label class="form-check-label" for="remember-me">Remember me</label>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-light" type="submit" value="Sign In"/>
                    </div>
                </form>
            </div>

            <div class="col">
            <a class="btn btn-secondary active" th:href="@{/oauth2/authorization/github}">Sign in with Github</a>
                <a class="btn btn-light" th:href="@{/user/registration}">Register</a>
            </div>


        </div>
    </div>



</div>
</body>
</html>