<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Students</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="btn btn-light" th:href="@{/student/students}">All students</a>
    <a class="btn btn-light" th:href="@{/course/courses}">All Courses</a>
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-light" type="submit" value="Sign Out"/>
    </form>
</nav>
<div id="container">

    <div class="row">
        <div class="col">
        <h2>All Students</h2>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Personal code</th>
                <th>email</th>
                <th></th>
            </tr>
            <tr data-th-each="student : ${students}">
                <td data-th-text="${student.name}"></td>
                <td data-th-text="${student.surname}"></td>
                <td data-th-text="${student.personalCode}">...</td>
                <td data-th-text="${student.email}">...</td>
                <td><a class="btn btn-light" th:href="@{/student/edit-student/{id}(id=${student.id})}">Edit</a>
                    <a class="btn btn-light" th:href="@{/student/delete-student/{id}(id=${student.id})}">Delete</a>
                </td>
            </tr>
        </table>

        <br>
        <br>

    </div>

        <div class="col">





        </div>
    </div>
    <div>
        <a class="btn btn-light" th:href="@{/student/add-student}">Add Student</a>
    </div>

</div>
</body>
</html>